<div class="petApplicationsBlock">
  <% if @pet.applications.empty? == false %>
  <div class="petApplicationsElement">
    <% @pet.applications.each do |application| %>
      <p><%= link_to application.name, "/applications/#{application.id}" %></p>
  </div>
  <% end %>
  <% else %>
  <div id="noPetApplications">
    <h1>No Applications for this Pet</h1>
  </div>
  <% end %>
<div>