.shelter {
  text-align: center;
  width: 100%;
}

.shelterIndexBlock {
  margin-bottom: 75px;
  text-align: center;
}

.shelterPetsIndexHeader {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.shelterPetsIndexCreatePet {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.shelterBox {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.shelterContentBox {
  text-align: center;
  width: fit-content;
  margin: 40px;
}

.shelterContentBox > p {
  margin: 3px;
}

.shelterActions {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.createShelter {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-content: center;
}

.shelterShowContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.shelterInfoAttribute {
  margin-top: 10px;
  margin-bottom: 10px;
}

.shelterColumn1 {
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

.shelterColumn2 {
  padding: 5px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.reviewsBlock{
  margin-top: 25px;
}

.reviewTitle {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 5px;
}

.reviewAttribute {
  margin-top: 10px;
  margin-bottom: 10px;
}